{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Notes</h1>

<!-- TAG NAV BAR-->
<div class="container mt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#" onclick="filterNotes('all')">All</a>
    </li>
    {% for tag in tags %}
    <li class="nav-item">
      <a class="nav-link" href="#" onclick="filterNotes('{{ tag }}')">{{ tag }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- notes list-->
<div class="container mt-3">
  <div class="row" id="notes-container">
    {% for note in user.notes %}
    <div class="col-md-4 col-sm-6 mb-4 note-card" data-tag="{{ note.tag }}">
      <div class="card custom-note">
        <div class="action-icons">
          <a href="#" onClick="showEditForm('{{ note.id }}', '{{ note.title }}', '{{ note.description }}', '{{ note.tag }}')">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 icon-lg">
              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
            </svg>
          </a>
          <a href="#" onClick="deleteNote('{{note.id}}')">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 icon-lg">
              <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
            </svg>
          </a>
        </div>

        <div class="card-body">
          <span
            class="badge badge-pill custom-badge"
            style="background-color: {{ note.tag_color }}; "
            >{{ note.tag }}</span
          >
          <h5 class="card-title">{{note.title}}</h5>
          <p class="card-text">
            <span class="short-text" id="short-{{ note.id }}">{{ note.description[:60] }}{% if note.description|length > 60 %}... <a href="#" onclick="showFullText('{{ note.id }}')">[more...]</a>{% endif %}</span>
            <span class="full-text" id="full-{{ note.id }}" style="display: none;">{{ note.description }} <a href="#" onclick="showShortText('{{ note.id }}')">[less...]</a></span>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!--add note button -->
  <div class="text-center mb-4">
    <button id="add-note-btn" class="btn btn-success mb-3 btn-add-note" onclick="showAddForm()">Add Note</button>
  </div>

  <!--add note form -->
    <div id="noteForm" style="display: none;">
      <form method="POST" action="/">
        <div class="form-group">
          <input
            type="text"
            name="title"
            class="form-control custom-textarea mb-3"
            placeholder="Note Title"
            required
          />
        </div>
        <div class="form-group">
          <textarea
            name="description"
            class="form-control custom-textarea mb-3"
            rows="3"
            placeholder="Note Description"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <input
            type="text"
            name="tag"
            class="form-control custom-textarea mb-3"
            placeholder="Tag"
            list="tag-list"
          />
          <datalist id="tag-list">
            {% for tag in tags %}
            <option value="{{tag}}">{{tag}}</option>
            {% endfor %}
          </datalist>
        </div>
        <div align="center">
          <button type="submit" class="btn btn-primary btn-rounded">
            Submit
          </button>
        </div>
      </form>
    </div>

    <!--edit note form -->
    <div id="editForm" style="display: none;">
      <form method="POST" action="/edit-note">
        <input type="hidden" name="id" id="edit-note-id" />
        <div class="form-group">
          <input
            type="text"
            name="title"
            id="edit-note-title"
            class="form-control custom-textarea mb-3"
            placeholder="Note Title"
            required
          />
        </div>
        <div class="form-group">
          <textarea
            name="description"
            id="edit-note-description"
            class="form-control custom-textarea mb-3"
            rows="3"
            placeholder="Note Description"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <input
            type="text"
            name="tag"
            id="edit-note-tag"
            class="form-control custom-textarea mb-3"
            placeholder="Tag"
            list="tag-list"
          />
          <datalist id="tag-list">
            {% for tag in tags %}
            <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
          </datalist>
        </div>
        <div align="center">
          <button type="submit" class="btn btn-primary btn-rounded">
            Update
          </button>
          
        </div>
      </form>
    </div>
  </div>

  {% endblock %} {% block javascript %}
  <script>
    function showAddForm() {
      var addForm = document.getElementById("noteForm");
      var editForm = document.getElementById("editForm");
      var addNoteBtn = document.getElementById("add-note-btn");

      addForm.style.display = "block";
      editForm.style.display = "none";
      addNoteBtn.style.display = "none";
    }

    function showEditForm(id, title, description, tag) {
      var addForm = document.getElementById("noteForm");
      var editForm = document.getElementById("editForm");
      var addNoteBtn = document.getElementById("add-note-btn");

      document.getElementById("edit-note-id").value = id;
      document.getElementById("edit-note-title").value = title;
      document.getElementById("edit-note-description").value = description;
      document.getElementById("edit-note-tag").value = tag;

      editForm.style.display = "block";
      addForm.style.display = "none";
      addNoteBtn.style.display = "none";
    }

    function hideForms() {
      var addForm = document.getElementById("noteForm");
      var editForm = document.getElementById("editForm");
      var addNoteBtn = document.getElementById("add-note-btn");

      addForm.style.display = "none";
      editForm.style.display = "none";
      addNoteBtn.style.display = "block";
    }

    function deleteNote(noteId) {
      fetch("/delete-note", {
        method: "POST",
        body: JSON.stringify({ noteId: noteId }),
        headers: {
          "Content-Type": "application/json",
        },
      }).then((_res) => {
        window.location.href = "/";
      });
    }

    function showFullText(id) {
      document.getElementById('short-' + id).style.display = 'none';
      document.getElementById('full-' + id).style.display = 'inline';
    }

    function showShortText(id) {
      document.getElementById('short-' + id).style.display = 'inline';
      document.getElementById('full-' + id).style.display = 'none';
    }

    function filterNotes(tag) {
      var notes = document.getElementsByClassName('note-card');
      for (var i = 0; i < notes.length; i++) {
        if (notes[i].getAttribute('data-tag') === tag || tag === 'all') {
          notes[i].style.display = 'block';
        } else {
          notes[i].style.display = 'none';
        }
      }
    }

    document.addEventListener('DOMContentLoaded', function () {
      var filterLinks = document.querySelectorAll('.nav-link');
      filterLinks.forEach(function (link) {
        link.addEventListener('click', function() {
          var tag = this.textContent.trim();
          filterNotes(tag);
          filterLinks.forEach(function(link) {
            link.classList.remove('active');
          });
          this.classList.add('active');
        });
      });
    });
  </script>
  {% endblock %}
</div>
